
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="custom-form">
            <div class="form-group">
                <label>Mail Address</label>
                <input type="text" class="form-control" id="mail-address" placeholder="Enter Mail Address" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"  class="form-control" id="password" placeholder="Enter Mail Password" />
            </div>
            <button class="btn btn-outline-danger" onclick="Login()">Login</button>
        </div>
    </div>
</body>

</html>
<script>
    function Login() {
        let mailAddress = $("#mail-address").val();
        let password = $("#password").val();
        $.ajax({
            type: "POST",
            url:'@Url.Action("Login","Home")',
            data: {
                mailAddress,
                password
            },
            success: (response) => {
                if (response==1) {
                    window.location.href = "/Home/Index";
                }
            }

        });
    }
</script>