<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatApplication.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
/*        .message-text-left {
            border-radius: 9px;
            color: black;
            font-size: large;
            margin-left: 10px;
        }
        .message-text-right {
            border-radius: 9px;
            color: black;
            font-size: large;
            margin-right: 10px;
        }
        sub{
            margin-top:5px;
        }*/
        main{
            height:85vh;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand current-user-link" data-user-id="@sessionHelper.GetCurrentUser().Id">ChatApplication.Web~ @sessionHelper.GetCurrentUser().Name</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserList">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
     
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/aspnet-signalr/signalr.js"></script>
    <script src="~/lib/signalr.js/jquery.signalR.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

<script>
    const chatArea = $("#conversation");
    var signalRconnection = new signalR.HubConnectionBuilder().withUrl("/signal/message-hub").build();
    signalRconnection.start();


    signalRconnection.on("Messages", (messageList) => {
        var currentUserId = $(".current-user-link").attr("data-user-id");
        var elementFloatStyle = "";
        chatArea.html("");
        messageList.forEach((value, index) => {
            if (value.senderUserId == currentUserId) {
                elementFloatStyle = "sender";
            }
            else {
                elementFloatStyle = "receiver";
            }
            var dateString = value.sendDate.split("T")[1].split(".")[0];
            var messageBody = `<div class="row message-body"> <div class="col-sm-12 message-main-${elementFloatStyle}"> <div class="${elementFloatStyle}"> <div class="message-text"> ${value.messageText} </div><span class="message-time pull-right"> ${dateString} </span> </div></div></div>`;
            chatArea.append(messageBody);
        });

        ScroolSlide();
    });
</script>
</body>
</html>
